USE [Assignment2_NguyenPhiHung]
GO
ALTER TABLE [dbo].[QuizDetail] DROP CONSTRAINT [FK__QuizDetai__Selec__29221CFB]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [FK__Quiz__SubjectID__2DE6D218]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [FK__Quiz__AccountID__2CF2ADDF]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [FK__Question__Subjec__33D4B598]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [FK__Question__Questi__32E0915F]
GO
ALTER TABLE [dbo].[Answer] DROP CONSTRAINT [FK__Answer__Question__38996AB5]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK__Account__Account__29572725]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK__Account__Account__286302EC]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [DF__Quiz__TotalScore__30C33EC3]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [DF__Quiz__EndTime__2FCF1A8A]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [DF__Quiz__StartTime__2EDAF651]
GO
ALTER TABLE [dbo].[Quiz] DROP CONSTRAINT [DF__Quiz__QuizID__2BFE89A6]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [DF__Question__Create__34C8D9D1]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [DF__Question__Questi__31EC6D26]
GO
ALTER TABLE [dbo].[Answer] DROP CONSTRAINT [DF__Answer__AnswerID__37A5467C]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[Subject]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[QuizDetail]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[Quiz]
GO
/****** Object:  Table [dbo].[QuestionStatus]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[QuestionStatus]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[Answer]
GO
/****** Object:  Table [dbo].[AccountStatus]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[AccountStatus]
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[AccountRole]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetQuizID]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP FUNCTION [dbo].[fnGetQuizID]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetQuestionID]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP FUNCTION [dbo].[fnGetQuestionID]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAnswerID]    Script Date: 02/07/2021 12:11:34 AM ******/
DROP FUNCTION [dbo].[fnGetAnswerID]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAnswerID]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fnGetAnswerID]()
returns varchar(8)
as
begin
	declare @ID varchar(8)
	if(select count(AnswerID) from Answer) =0
		set @ID = '0'
	else
		select @ID = max (right(AnswerID, 7)) from Answer
		select @ID = case
			when @ID >= 0 and @ID < 9 then 'A000000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9 and @ID < 99 then 'A00000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99 and @ID < 999 then 'A0000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 999 and @ID < 9999 then 'A000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9999 and @ID < 99999 then 'A00' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99999 and @ID < 999999 then 'A0' + convert(char, convert(int, @ID) + 1)
			when @ID >= 999999 and @ID < 9999999 then 'A' + convert(char, convert(int, @ID) + 1)
		end
	return @ID
end



GO
/****** Object:  UserDefinedFunction [dbo].[fnGetQuestionID]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnGetQuestionID]()
returns varchar(8)
as
begin
	declare @ID varchar(8)
	if(select count(QuestionID) from Question) = 0
		set @ID='0'
	else 
		select @ID = max (right(QuestionID, 7)) from Question
		select @ID = case 
			when @ID >= 0 and @ID < 9 then 'Q000000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9 and @ID < 99 then 'Q00000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99 and @ID < 999 then 'Q0000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 999 and @ID < 9999 then 'Q000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9999 and @ID < 99999 then 'Q00' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99999 and @ID < 999999 then 'Q0' + convert(char, convert(int, @ID) + 1)
			when @ID >= 999999 and @ID < 9999999 then 'Q' + convert(char, convert(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetQuizID]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnGetQuizID]()
returns varchar(10)
as
begin
	declare @ID varchar(8)
	if(select count(QuizID) from Quiz) =0
		set @ID = '0'
	else
		select @ID = max (right(QuizID, 6)) from Quiz
		select @ID = case
			when @ID >= 0 and @ID < 9 then 'QZ00000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9 and @ID < 99 then 'QZ0000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99 and @ID < 999 then 'QZ000' + convert(char, convert(int, @ID) + 1)
			when @ID >= 999 and @ID < 9999 then 'QZ00' + convert(char, convert(int, @ID) + 1)
			when @ID >= 9999 and @ID < 99999 then 'QZ0' + convert(char, convert(int, @ID) + 1)
			when @ID >= 99999 and @ID < 999999 then 'QZ' + convert(char, convert(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  Table [dbo].[Account]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Email] [varchar](100) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[AccountRoleID] [varchar](10) NOT NULL,
	[AccountStatusID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRole](
	[AccountRoleID] [varchar](10) NOT NULL,
	[AccountRoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountStatus]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatus](
	[AccountStatusID] [varchar](10) NOT NULL,
	[AccountStatusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [varchar](8) NOT NULL,
	[AnswerContent] [nvarchar](500) NOT NULL,
	[QuestionID] [varchar](8) NOT NULL,
	[CorrectAnswer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [varchar](8) NOT NULL,
	[QuestionContent] [nvarchar](500) NOT NULL,
	[QuestionStatusID] [varchar](10) NOT NULL,
	[SubjectID] [varchar](10) NOT NULL,
	[CreatedDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionStatus]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionStatus](
	[QuestionStatusID] [varchar](10) NOT NULL,
	[QuestionStatusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [varchar](8) NOT NULL,
	[AccountID] [varchar](100) NOT NULL,
	[SubjectID] [varchar](10) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalScore] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizDetail](
	[QuizID] [varchar](8) NOT NULL,
	[QuestionID] [varchar](8) NOT NULL,
	[SelectedAnswerID] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 02/07/2021 12:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [varchar](10) NOT NULL,
	[SubjectName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Email], [AccountName], [Password], [AccountRoleID], [AccountStatusID]) VALUES (N'admin@gmail.com', N'admin', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', N'AR0', N'AS0')
INSERT [dbo].[Account] ([Email], [AccountName], [Password], [AccountRoleID], [AccountStatusID]) VALUES (N'h@gmail.com', N'Nguyễn Phi Hùng', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'AR1', N'AS0')
INSERT [dbo].[Account] ([Email], [AccountName], [Password], [AccountRoleID], [AccountStatusID]) VALUES (N'h2@gmail.com', N'Nguyễn Phi Hùng', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'AR1', N'AS0')
INSERT [dbo].[AccountRole] ([AccountRoleID], [AccountRoleName]) VALUES (N'AR0', N'admin')
INSERT [dbo].[AccountRole] ([AccountRoleID], [AccountRoleName]) VALUES (N'AR1', N'student')
INSERT [dbo].[AccountStatus] ([AccountStatusID], [AccountStatusName]) VALUES (N'AS0', N'new')
INSERT [dbo].[AccountStatus] ([AccountStatusID], [AccountStatusName]) VALUES (N'AS1', N'deactivate')
INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [CorrectAnswer]) VALUES (N'A0000001', N'8', N'Q0000001', 1)
INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [CorrectAnswer]) VALUES (N'A0000002', N'4', N'Q0000001', 0)
INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [CorrectAnswer]) VALUES (N'A0000003', N'2', N'Q0000001', 0)
GO
INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuestionStatusID], [SubjectID], [CreatedDate]) VALUES (N'Q0000001', N'How many Bytes are stored by ‘Long’ Data type in C# .net?', N'QS0', N'S01', CAST(N'2021-01-27' AS Date))
INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuestionStatusID], [SubjectID], [CreatedDate]) VALUES (N'Q0000002', N'Choose “.NET class” name from which data type “UInt” is derived?', N'QS0', N'S01', CAST(N'2021-01-27' AS Date))
INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuestionStatusID], [SubjectID], [CreatedDate]) VALUES (N'Q0000003', N'Correct Declaration of Values to variables ‘a’ and ‘b’?', N'QS0', N'S01', CAST(N'2021-01-27' AS Date))
GO
INSERT [dbo].[QuestionStatus] ([QuestionStatusID], [QuestionStatusName]) VALUES (N'QS0', N'activate')
INSERT [dbo].[QuestionStatus] ([QuestionStatusID], [QuestionStatusName]) VALUES (N'QS1', N'deactivate')
INSERT [dbo].[Quiz] ([QuizID], [AccountID], [SubjectID], [StartTime], [EndTime], [TotalScore]) VALUES (N'QZ000001', N'h3@gmail.com', N'S01', CAST(N'2021-02-06T22:08:47.463' AS DateTime), CAST(N'2021-02-06T22:08:53.190' AS DateTime), 0.04)
INSERT [dbo].[Quiz] ([QuizID], [AccountID], [SubjectID], [StartTime], [EndTime], [TotalScore]) VALUES (N'QZ000002', N'h@gmail.com', N'S01', CAST(N'2021-02-06T23:29:14.790' AS DateTime), CAST(N'2021-02-06T23:29:24.320' AS DateTime), 0.02)
INSERT [dbo].[QuizDetail] ([QuizID], [QuestionID], [SelectedAnswerID]) VALUES (N'QZ000001', N'Q0000003', NULL)
INSERT [dbo].[QuizDetail] ([QuizID], [QuestionID], [SelectedAnswerID]) VALUES (N'QZ000001', N'Q0000004', NULL)
INSERT [dbo].[QuizDetail] ([QuizID], [QuestionID], [SelectedAnswerID]) VALUES (N'QZ000001', N'Q0000005', NULL)
GO
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (N'S01', N'C#')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (N'S02', N'Foundations of software testing')
ALTER TABLE [dbo].[Answer] ADD  DEFAULT ([dbo].[fnGetAnswerID]()) FOR [AnswerID]
GO
ALTER TABLE [dbo].[Question] ADD  DEFAULT ([dbo].[fnGetQuestionID]()) FOR [QuestionID]
GO
ALTER TABLE [dbo].[Question] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ([dbo].[fnGetQuizID]()) FOR [QuizID]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT (dateadd(minute,(60),getdate())) FOR [EndTime]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((0)) FOR [TotalScore]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([AccountRoleID])
REFERENCES [dbo].[AccountRole] ([AccountRoleID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([AccountStatusID])
REFERENCES [dbo].[AccountStatus] ([AccountStatusID])
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([QuestionStatusID])
REFERENCES [dbo].[QuestionStatus] ([QuestionStatusID])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD FOREIGN KEY([SelectedAnswerID])
REFERENCES [dbo].[Answer] ([AnswerID])
GO
